.bg-purple{
    background-color: #757575;  /* body */
}
.purple{
    color: #999897;
}

.bg-purple-2{
    background-color: #aea4b8;   /* text */
}
.purple-2{
    color: #332116;
}

.bg-purple-3{
    background-color: #1a1524;   /* nav */
}
.purple-3{
    color: #1a1524;
}

.bg-preto{
    background-color: #000000a9;
}
.preto{
    color: #000000a9;
}