
/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
    min-height: 100px;
}

.cabin-font{
    font-family:'Cabin', sans-serif;
}


input, textarea{
    background: linear-gradient(#111111,#353535) !important;

    border: #242424 !important;
    color: #ffffff !important;
}



/* CLASS */

.nav-link:hover, .navbar-brand:hover{
    color:#c300ff !important;
}

.button:hover{
    border-bottom:solid 1px #1a1a1a !important;
}

button{
    border-bottom:solid #1a1a1a 5px !important;
}

.fs-form{
    font-size:26px;
}

/* MOBILE */

@media screen and (max-width:991px){

    /* #button_del , #button_save{
        margin:0 ;
        padding: 0;

    } */

    .navbar-dark .navbar-toggler {
        color: #1a1524;
        border:#1a1524;
    }

    .navbar-dark .navbar-toggler:hover {
        color: #b638ff;
        border:#b638ff;
    }
}
